<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <h1 i18n="loyaltyHeader">Loyalty It Interview Project</h1>

  <div class="row">
    <div class="d-flex justify-content-between">
      <button class="btn btn-lg btn-dark mt-3" 
      appDebounceClick (debounceClick)="createProduct()" [debounceTime]="700" (click)="createProduct()">
        <label i18n>Create Product</label>
      </button>

      <button class="btn btn-lg btn-dark mt-3" (click)="createCategory()">
        <label i18n>Create Category</label>         
      </button>
    </div>
  </div>

  <h4 class="">Product</h4>
  <div class="mh-500px w-100 overflow-auto d-inline-block mt-5 shadow">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Color</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of service.allProducts; index as i">
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.color }}</td>
          <td>
            <button class="btn btn-lg btn-dark me-3" (click)="updateProduct(product)">
              Update
            </button>
            <button class="btn btn-lg btn-outline-dark" (click)="deleteProduct(product)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <h4 class="">Category</h4>
  <div class="mh-500px w-100 overflow-auto d-inline-block mt-5 shadow">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categoryService.allCategory; index as i">
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td>
            <button class="btn btn-lg btn-dark me-3" (click)="updateCategory(category)">
              Update
            </button>
            <button class="btn btn-lg btn-outline-dark" (click)="deleteCategory(category)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>